html, body {
  background: #fdfffc;
  color: #30343f;
  scroll-behavior: smooth;
}

.navbar {
  font-weight: bold;
  font-size: 14px;
  background-color: #fdfffc;
}
.navbar a {
  color: #ff1200;
}
.navbar .navbar-item img {
  max-height: 3rem;
}

h1, h2 {
  color: #ff1200 !important;
  padding: 2rem;
}

.title {
  color: #011638;
}

.content .title {
  color: #011638;
}

.modal-content {
  padding: 2rem;
  background-color: #fdfffc;
}
.modal-content i {
  color: #30343f;
  margin-top: 1rem;
  font-size: 5rem;
}
.modal-content h1 {
  padding: 0;
}

.survey {
  margin-bottom: 0;
}
.survey div {
  padding: 0.5rem;
}
.survey div a {
  margin: 0.5rem 0;
}

footer {
  background-color: #30343f;
  padding: 1rem 0;
  color: rgba(252, 253, 252, 0.7);
  text-align: center;
  font-size: 14px;
}
footer hr {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  margin: 1rem auto;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpeg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 2rem 0 0;
}
.hero .hero-body .container {
  max-width: 700px;
}
.hero .hero-body .container .title {
  color: #fcfdfd !important;
}
.hero .hero-body .container .subtitle {
  color: #fcfdfd !important;
  line-height: 1.5;
}
.hero .hero-body .container .buttons {
  padding-top: 2rem;
  width: 240px;
  margin: 0 auto;
}
.hero .hero-body .container .buttons .button {
  width: 120px;
}

.what-we-do {
  padding: 2rem 0 0;
}
.what-we-do .column {
  padding: 0 2rem;
}
.what-we-do .column img {
  height: 10rem;
  padding: 2rem;
}

.sign-up {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/signup-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4rem 0;
}
.sign-up h1, .sign-up h2 {
  color: #fdfffc !important;
}
.sign-up .field {
  justify-content: center;
}
.sign-up .field .input[type=email] {
  background-color: rgba(0, 0, 0, 0);
  color: #fdfffc;
  margin-bottom: 1rem;
}
.sign-up .field .input.is-active, .sign-up .field .input.is-focused, .sign-up .field .input:active, .sign-up .field .input:focus, .sign-up .field .textarea.is-active, .sign-up .field .textarea.is-focused, .sign-up .field .textarea:active, .sign-up .field .textarea:focus {
  border-color: #ff1200;
  box-shadow: 0 0 0 0.125em rgba(255, 18, 0, 0.25);
}
.sign-up .field input[type=submit] {
  background-color: #ff1200;
  color: #fdfffc;
  border-color: #ff1200;
}
.sign-up .field ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fdfffc;
  opacity: 0.7;
  /* Firefox */
}
.sign-up .field :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fdfffc;
  opacity: 0.7;
}
.sign-up .field ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fdfffc;
  opacity: 0.7;
}

.contact {
  background-color: #30343f;
  color: #fdfffc;
  padding: 2rem;
}
.contact h1, .contact h2, .contact h3 {
  color: #fdfffc !important;
}
.contact iframe {
  min-height: 200px;
}
.contact hr {
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
  margin: 2rem auto;
}
.contact .input, .contact .textarea {
  background-color: rgba(0, 0, 0, 0);
  color: #fdfffc;
  margin-bottom: 1rem;
}
.contact .input.is-active, .contact .input.is-focused, .contact .input:active, .contact .input:focus, .contact .textarea.is-active, .contact .textarea.is-focused, .contact .textarea:active, .contact .textarea:focus {
  border-color: #ff1200;
  box-shadow: 0 0 0 0.125em rgba(255, 18, 0, 0.25);
}
.contact .button {
  background-color: #ff1200;
  color: #fdfffc;
  border-color: #ff1200;
}
.contact .input::placeholder, .contact .textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fdfffc;
  opacity: 0.7;
  /* Firefox */
}
.contact .input:-ms-input-placeholder, .contact .textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fdfffc;
  opacity: 0.7;
}
.contact .input::-ms-input-placeholder, .contact .textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fdfffc;
  opacity: 0.7;
}

/*# sourceMappingURL=main.css.map */
