#hero{

  background: linear-gradient(
  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8)
  ), url('../images/hero.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 2rem 0;

  .hero-body{

    .container {
      max-width: 700px;

      .title {
        color: hsl(192,17%,99%) !important;
      }

      .subtitle {
        color: hsl(192,17%,99%) !important;
        line-height: 1.5;
      }

      .buttons{
        padding-top: 2rem;
        width:240px;
        margin: 0 auto;
        .button{
          width:120px;
        }
      }

    }

  }

}
