.sign-up{

  background: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ), url('../images/signup-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4rem 0;

  h1,h2{
    color: $baby-powder-white !important;
  }

  .field {
    justify-content: center;

    .input[type="email"]{
      background-color: rgba(0,0,0,0);
      color:$baby-powder-white;
      margin-bottom: 1rem
    }

    .input.is-active, .input.is-focused, .input:active, .input:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus {
    	border-color: $candy-red;
    	box-shadow: 0 0 0 .125em rgba(255,18,0,.25);
    }

    input[type="submit"]{
      background-color: $candy-red;
      color:$baby-powder-white;
      border-color: $candy-red;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $baby-powder-white;
      opacity: 0.7; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $baby-powder-white;
      opacity: 0.7;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $baby-powder-white;
      opacity: 0.7;
    }

  }
}
