$baby-powder-white: #fdfffc;
$gunmetal: #30343f;
$light-blue: #38aecc;
$dark-blue: #011638;
$candy-red: #ff1200;
$light-grey:#EFF3F4;

html,body {
  background: $baby-powder-white;
  color: $gunmetal;
  scroll-behavior: smooth;
}

.navbar{
  font-weight: bold;
  font-size: 14px;
  background-color: $baby-powder-white;
  a{
    color: $candy-red;
  }

  .navbar-item{
    img {
      max-height: 3rem;
    }
  }

}

h1,h2{
  color: $candy-red !important;
  padding: 2rem;
}

.title{
  color: $dark-blue;
}

.content{

  .title{
    color: $dark-blue;
  }
}



.modal-content{
  padding: 2rem;
  background-color: $baby-powder-white;

  i{
    color:$gunmetal;
    margin-top: 1rem;
    font-size: 5rem;
  }

  h1{
    padding: 0;
  }
}

.survey{
  margin-bottom: 0;

  div{
    padding: 0.5rem;

    a{
      margin: 0.5rem 0;
    }
  }
}

footer{
  background-color: $gunmetal;
  padding: 1rem 0;
  color: rgba(252,253,252,0.7);
  text-align: center;
  font-size: 14px;

  hr{
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    margin: 1rem auto;
  }

}
